<footer>
  <div class="footer-content">
    <div class="links-wrapper">
      <ul class="links">
        <li><a href="">Security</a></li>
        <li><a href="">API</a></li>
        <li><a href="">Privacy</a></li>
        <li><a href="">Terms</a></li>
      </ul>
      <ul class="links">
        <li><a href="">About</a></li>
        <li><a href="">Careers</a></li>
        <li><a href="">ToS</a></li>
        <li><a href="">Status</a></li>
      </ul>
    </div>
    <ul class="socials">
      <li class="soc-icon">
        <a href="" class="fa fa-facebook-square fa-2x" aria-hidden="true"></a>
      </li>
      <li class="soc-icon">
        <a href="" class="fa fa-linkedin-square fa-2x" aria-hidden="true"></a>
      </li>
      <li class="soc-icon">
        <a href="" class="fa fa-github-square fa-2x" aria-hidden="true"></a>
      </li>
      <li class="soc-icon">
        <a href="" class="fa fa-youtube-square fa-2x" aria-hidden="true"></a>
      </li>
    </ul>
  </div>
  <div class="copyright">Copyright©2024; Designed by SANDRO</div>
</footer>
