header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  background-color: var(--color-bg-300);
}

/* give direct children padding */
header > * {
  padding: var(--padding-m);
}
