:host {
  display: contents;
}

.user-info {
  margin: 8px 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  line-height: 1.4;
  font-weight: 500;
  display: block;
  margin-bottom: 4px;
}
.name {
  margin: 8px 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  line-height: 1.4;
  color: #0056b3;
  font-size: 1.1em;
  font-weight: 500;
}

.user-card {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.03);
  white-space: nowrap;
}

.user-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
}

.posts {
  padding: 8px 16px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  outline: none;
  margin-top: 10px;
}

.posts:hover {
  background-color: #003d7a;
  transform: translateY(-2px);
  box-shadow: 0 0 0 2px rgba(0, 86, 179, 0.4);
}

.action {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  flex-shrink: 0;
}




tr:hover {
  /* background-color: #f5f5f5; */
}

button {
  padding: 8px 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

table-container {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  /* background-color: white; */
}


th, td {
  white-space: nowrap;
  flex-wrap: nowrap;
  overflow:hidden;
  padding: 12px;
  text-align: left;
  /* border-bottom: 1px solid #ddd; */
}