.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.content {
  max-width: 80%;
  overflow-x: auto;
}




@media screen and (min-width:1024px){
  .content{
    max-width: 50%;
  }
}