.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f7ff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.header {
  text-align: center;
  padding: 20px;
  background-color: #e6eff8;
  border-radius: 8px 8px 0 0;
  color: #102a43;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.user-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}
