:host {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.content {
  max-width: 80%;
  overflow-x: auto;
}

@media screen and (min-width: 1024px) {
  .content {
    max-width: 50%;
  }
}
