.post-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.test{
  display: none;
}


.post-card input{
  display: none;
}

.post-card:has(input:checked) p{
  white-space:wrap !important;
}


.post-card h2 {
  font-size: 24px;
}

.post-card p {
  display: flex;
  font-size: 16px;
  line-height: 1.5;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
  width: 100%;
}

.meta-data {
  display: none;
}


.detailed-post{
  position: absolute;
  left: 50%;
  top: 50%;

}



